<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro | Agende seu Evento</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'user/style.css' %}">
</head>
<body>
    <div class="main-container">
        <section class="login-box">
            <h1>Criar Conta</h1>
            <p>Preencha os dados para começar.</p>
            
            <form method="POST">
    {% csrf_token %}
    
    <div class="input-group">
        <label>Nome Completo</label>
        {{ form.nome }}
        {{ form.nome.errors }}
    </div>

    <div class="input-group">
        <label>E-mail</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>

    <div class="input-group">
        <label>Senha</label>
        {{ form.password }}
        {% if form.password.errors %}
            <div style="color: red; font-size: 12px;">
                {{ form.password.errors }}
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn-primary">Cadastrar</button>
</form>
            <p class="footer-text">Já tem conta? <a href="{% url 'login' %}">Faça login</a></p>
            <p class="footer-text">Home <a href="{% url 'index' %}">Cadastre-se</a></p>
        </section>
    </div>
</body>
</html>