{% load static %} <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="{% static 'user/style.css' %}">
</head>
<body>

    {% load static %}
<div class="main-container">
    <header class="home-header">
        <h1>Escolha seu evento</h1>
        <p>E marque na sua agenda!</p>
    </header>

    <section class="events-grid">
    {% for evento in eventos %}
    <div class="event-card">
        <h3>{{ evento.nome }}</h3>
        <div class="event-info">
            <p><strong>Horário:</strong> {{ evento.horario }}</p>
            <p><strong>Local:</strong> {{ evento.local }}</p>
        </div>
        <p class="event-description">
            {{ evento.descricao }}
        </p>
        <button class="btn-save">Salvar na Agenda</button>
    </div>
    {% empty %}
    <p>Nenhum evento para mostrar.</p>
    {% endfor %}
</section>

    <div class="footer-text" style="text-align: center;">
        <a href="{% url 'login' %}">Sair do sistema</a>
    </div>
</div>

</body>
</html>